.page {
  justify-content: space-between;
  margin: 40px;
  margin-bottom: 0;
  max-width: 1440px;
}

.choice_game_wrapper {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  margin-right: 20px;
  padding-left: 20px;
  width: 80%;
  max-height: calc(100vh - 40px);
  direction: rtl;
  background-color: #c7c7c71c;

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #a1a1a13b;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid #2b2b2b5e;
    border-radius: 20px;
    background-color: #d38003;
  }
}

.page_aside {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #b0b0b01a;
  gap: 40px;
}

.aside__btn {
  outline: 2px solid #d4d4d4;
  border-radius: 50px;
  padding: 10px 20px;
  width: 100%;
  font-size: 14px;
  color: #f5deb3;
  background-color: #023602;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  @media (hover: hover) {
    &:hover {
      color: var(--white);
      background-color: #117302;
    }
  }
}

.page__lvl_wrapper,
.page__lvl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page__lvl {
  &.beginner {
    .page__lvl_description {
      background-color: #0bf;
    }
  }

  &.novice {
    .page__lvl_description {
      color: var(--black);
      background-color: #0f0;
    }
  }

  &.intermediate {
    .page__lvl_description {
      color: var(--black);
      background-color: #ff0;
    }
  }

  &.advanced {
    .page__lvl_description {
      color: var(--black);
      background-color: #ffa500;
    }
  }

  &.master {
    .page__lvl_description {
      background-color: #572a77;
    }
  }

  &.expert {
    .page__lvl_description {
      background-color: #590707;
    }
  }
}

.page__btn {
  margin: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: inset -5px -6px 7px 0 var(--black);
  font-size: 20px;
  text-align: center;
  color: #f0f8ff;
  background-color: #7a7a7a;
  transition:
    opacity 0.3s ease-in-out,
    scale 0.3s ease-in-out;

  &.beginner {
    box-shadow: inset -5px -6px 7px 0 #032b39;
    background-color: #0bf;
  }

  &.novice {
    box-shadow: inset -5px -6px 7px 0 #0d2301;
    color: var(--black);
    background-color: #0f0;
  }

  &.intermediate {
    box-shadow: inset -5px -6px 7px 0 #484804;
    color: var(--black);
    background-color: #ff0;
  }

  &.advanced {
    box-shadow: inset -5px -6px 7px 0 #432b00;
    color: var(--black);
    background-color: #ffa500;
  }

  &.master {
    box-shadow: inset -5px -6px 7px 0 #1c0030;
    background-color: #572a77;
  }

  &.expert {
    box-shadow: inset -5px -6px 7px 0 #1b0000;
    background-color: #590707;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
      scale: 1.1;
    }
  }
}

.page__lvl_description {
  margin-bottom: 20px;
  border: 4px solid #e5e5e5c4;
  border-radius: 20px;
  padding: 40px 60px;
  width: 100%;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;
  color: #310301;
  background-color: #ce9069;
}
