.page {
  height: 100vh;
}

.choice_game_wrapper {
  display: flex;
  justify-content: center;
  margin: 40px;
  width: 100%;
}

.page__lvl_wrapper,
.page__lvl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page__lvl {
  &.beginner {
    .page__lvl_description {
      background-color: #0bf;
    }
  }

  &.novice {
    .page__lvl_description {
      background-color: #0f0;
    }
  }

  &.intermediate {
    .page__lvl_description {
      background-color: #ff0;
    }
  }

  &.advanced {
    .page__lvl_description {
      background-color: #ffa500;
    }
  }

  &.master {
    .page__lvl_description {
      background-color: #572a77;
    }
  }

  &.expert {
    .page__lvl_description {
      background-color: #590707;
    }
  }
}

.page__btn {
  margin: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #f0f8ff;
  background-color: #7a7a7a;

  &.beginner {
    background-color: #0bf;
  }

  &.novice {
    background-color: #0f0;
  }

  &.intermediate {
    background-color: #ff0;
  }

  &.advanced {
    background-color: #ffa500;
  }

  &.master {
    background-color: #572a77;
  }

  &.expert {
    background-color: #590707;
  }
}

.page__lvl_description {
  margin-bottom: 20px;
  border: 4px solid #7a7a7a;
  border-radius: 20px;
  padding: 40px 60px;
  width: 100%;
  text-align: center;
}
