body {
  color: #fff;
  height: 100vh;
  background: linear-gradient(-32deg, rgba(74, 57, 97, 1) 0%, rgba(0, 8, 8, 1) 50%, rgb(47, 66, 156) 100%);
  font-family: sans-serif;
}

header {
  padding: 10px 30px;
  text-align: center;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

footer {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
footer .copyright {
  font-size: 14px;
  color: #4bcec3;
  text-align: center;
}
footer .copyright a {
  color: #4bcec3;
}
footer .copyright a:hover {
  color: #a2e6e0;
}
footer .copyright:before {
  content: '©';
}

footer .github-link {
  font-size: 14px;
  color: #91e2b4;
  text-align: center;
  transition: color 0.3s ease;
}

footer .github-link:hover {
  color: #269345;
}

footer .rss-link-img {
  width: 10rem;
}
