body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

header {
  padding: 10px 30px;
  text-align: center;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

footer {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
}
footer .copyright a {
  color: #444;
}
footer .copyright a:hover {
  color: #555;
}
footer .copyright:before {
  content: '©';
}

footer .github-link {
  font-size: 14px;
  color: #6730ab;
  text-align: center;
  transition: color 0.3s ease;
}

footer .github-link:hover {
  color: #9063c7;
}

footer .rss-link-img {
  width: 10rem;
}
