.game_settings {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  height: 100vh;
  background-color: #ffffff1c;
  gap: 2%;
}

.translate_sentence_img,
.translate_listen_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #403b40;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  svg {
    stroke: #f3daab;
  }
}

.game_settings_item {
  display: flex;
  align-items: center;
  border: 2px solid #c3c3c3;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  color: #f5deb3;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
  gap: 5px;

  @media (hover: hover) {
    &:hover {
      background-color: #598342;
    }
  }
}
