.favorite__slider {
  position: relative;

  &-wrapper {
    position: relative;
    left: 50%;
    display: flex;
    overflow: hidden;
    margin-bottom: 40px;
    max-width: 480px;
    transform: translateX(-50%);

    @include mobile {
      max-width: 348px;
    }
  }

  &-line {
    display: flex;
    transition: transform 1s ease-out;
    gap: 200px;
  }

  &-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 480px;
    user-select: none;

    img {
      margin-bottom: 20px;
      height: 480px;
      max-width: max-content;
      pointer-events: none;

      @include mobile {
        height: 348px;
      }
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;
      color: var(--text-dark);
    }

    &-descr {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: var(--text-dark);
    }

    &-price {
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;
      color: var(--text-dark);
    }

    @include mobile {
      max-width: 348px;
    }
  }

  &-navigation {
    position: absolute;
    top: 42%;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-prev,
    &-next {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--border-dark);
      border-radius: 100%;
      width: 60px;
      height: 60px;
      transition:
        background-color 0.3s ease-out,
        opacity 0.3s ease-out;

      svg {
        stroke: #403f3d;
        transition: stroke 0.3s ease-out;
      }

      &:active {
        opacity: 0.5;
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--border-dark);

          svg {
            stroke: var(--text-light);
          }
        }
      }
    }

    @include mobile {
      display: none;
    }
  }

  &-pagination {
    display: flex;
    justify-content: center;
    gap: 12px;

    &-line {
      position: relative;
      display: block;
      border-radius: 100px;
      width: 40px;
      height: 4px;
      background-color: var(--border-light);
      transform-origin: left;

      &--active {
        position: absolute;
        left: 0;
        border-radius: 100px;
        width: 0%;
        height: 4px;
        background-color: var(--border-dark);
        transition: width 0.6s ease;
      }
    }
  }
}
