.playground {
  display: grid;
  border-top: 2px solid #000;
  border-left: 2px solid #000;

  &__row {
    &.row-highlight {
      background-color: #ffedc6;
    }
  }

  &__small {
    grid-template-columns: repeat(5, 1fr);
  }

  &__medium {
    grid-template-columns: repeat(10, 1fr);
    width: 202px;
  }

  &__large {
    grid-template-columns: repeat(15, 1fr);
  }

  &__cell {
    position: relative;
    border: 1px solid #808080;
    width: 20px;
    height: 20px;

    &.cell-highlight {
      background-color: #ffedc6;
    }

    &.painted {
      background-color: #000;
    }

    &.crossed {
      &::before {
        content: "";
        position: absolute;
        left: -4%;
        top: 50%;
        width: 20px;
        height: 1px;
        background-color: #808080;
        rotate: 45deg;
      }

      &::after {
        content: "";
        position: absolute;
        left: -4%;
        top: 50%;
        width: 20px;
        height: 1px;
        background-color: #808080;
        rotate: -45deg;
      }
    }
  }
}