.game {
  background-color: #f5deb3;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.gallows {
  position: relative;
  width: 200px;
  height: 237px;
  background-position: center;
  background-repeat: no-repeat;
}

.man-part {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 237px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-out;
}

.quiz {
  max-width: 260px;

  &__question {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 125%;
    color: #4e1d04;
  }

  &__answer {
    display: flex;
    gap: 5px;

    &-letter {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #a52a2a;
      width: 20px;
      height: 20px;
      color: #054e0b;
    }
  }
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 360px;
  gap: 10px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #914405;
    border-radius: 4px;
    padding: 10px;
    color: #000;
    background-color: #b5d085;
    transition: opacity 0.3s ease-out, background-color 0.3s ease-out;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @media (hover: hover) {
      &:hover {
        background-color: #d5eab0;
      }
    }
  }
}
