.game {
  background-color: #f5deb3;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 20px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }
  }
}

.gallows {
  position: relative;
  height: 237px;
  min-width: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.man-part {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 237px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-out;
}

.quiz {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  max-width: 260px;
  gap: 10px;

  &__question {
    font-size: 20px;
    line-height: 125%;
    color: #4e1d04;

    @include mobile {
      font-size: 16px;
    }
  }

  &__wrong {
    font-size: 16px;
    line-height: 125%;
    color: #745d5d;

    &-accent {
      font-style: italic;
      color: #7f2121;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__answer {
    display: flex;
    gap: 5px;

    &-letter {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #a52a2a;
      width: 20px;
      height: 20px;
      color: #054e0b;

      @include mobile {
        width: 15px;
        height: 15px;
        font-size: 12px;
      }
    }
  }

  @include mobile {
    padding: 10px 0;
  }
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 360px;
  gap: 10px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #914405;
    border-radius: 4px;
    padding: 10px;
    color: #000;
    background-color: #b5d085;
    transition: opacity 0.3s ease-out, background-color 0.3s ease-out;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @media (hover: hover) {
      &:hover {
        background-color: #d5eab0;
      }
    }

    /* stylelint-disable-next-line order/order */
    &:active {
      background-color: #7da240;
    }

    @include mobile {
      padding: 7px;
    }
  }
}
