@mixin burger {
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--burger-color);
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    border-radius: 100px;
    width: 42%;
    height: var(--burger-line-height);
    background-color: currentcolor;
    transform: translateX(-50%);
    transition:
      transform 1s ease-in-out,
      top 1s ease-in-out,
      left 1s ease-in-out;
  }

  &::before {
    top: 38%;
  }

  &::after {
    top: 57%;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentcolor;
    transform: translateY(-50%);
    transition: transform 1s ease-in-out;
  }

  &--active {
    &::before {
      left: 10px;
      transform: rotate(45deg) translate(30%, 48%);
      transition:
        transform 1s ease-in-out,
        top 1s ease-in-out,
        left 1s ease-in-out;
    }

    &::after {
      left: 8px;
      transform: rotate(-45deg) translate(30%, 48%);
      transition:
        transform 1s ease-in-out,
        top 1s ease-in-out,
        left 1s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 1s ease-in-out;
    }
  }
}

// Данные стили копируем в нужный файл

// .burger {
//   @include burger;
//   display: none;
//   --burger-width : 24px;
//   --burger-height: 18px;
//   --burger-line-height: 3px;
//   --burger-color: #000;

//   @include tablet {
//     display: block;
//   }
// }
