* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  min-width: 320px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--bg-body);
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1440px;

  @include mobile {
    padding: 0 16px;
  }
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.stop-scroll {
  overflow: hidden;
}
