@import "../../../scss/mixins/breakpoint";

.result {
  outline: 1px solid #c24e00;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #e6d4c1;
  transition: background-color 0.3s ease-out, outline-offset 0.3s ease-out, transform 0.3s ease-out;

  @include tablet {
    padding: 8px 16px;
  }

  @include mobile {
    padding: 8px 16px;
    font-size: 12px;
  }

  @media (hover: hover) {
    &:hover {
      outline-offset: 5px;
      background-color: #ad4601;
      transform: scale(1.05);
    }
  }
}
