@import "../../../scss/mixins/breakpoint";

.game {
  background-color: #f5deb3;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 20px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }
  }
}
