:root {
  // цвета
  --color-black: #000;
  --color-white: #fff;
  --bg-body: #e1d4c9;
  --bg-container: #665f55;
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --border-dark: #665f55;
  --border-light: #c1b6ad;

  // отступы
  // шрифты
}
