@import "../../../scss/breakpoints";

.game {
  &__wrapper {
    display: grid;
    height: max-content;

    &.small {
      --cell-size: 5.5dvw;
      --hint-text: 3dvw;
      --cell-border: 0.1dvw;
      --cell-border-accent: 0.3dvw;

      @include small-tablet {
        --cell-size: 5.5dvw;
        --hint-text: 3dvw;
      }

      @include mobile {
        --cell-size: 10dvw;
        --hint-text: 6dvw;
        --cell-border: 0.3dvw;
        --cell-border-accent: 0.7dvw;
      }
    }

    &.medium {
      --cell-size: 2.6dvw;
      --hint-text: 2dvw;
      --cell-border: 0.1dvw;
      --cell-border-accent: 0.3dvw;

      @include small-tablet {
        --cell-size: 4.5dvw;
        --cell-border-accent: 0.4dvw;
      }

      @include mobile {
        --cell-size: 6.5dvw;
        --hint-text: 4.6dvw;
        --cell-border-accent: 0.6dvw;
      }
    }

    &.large {
      --cell-size: 2dvw;
      --hint-text: 1.6dvw;
      --cell-border: 0.1dvw;
      --cell-border-accent: 0.3dvw;

      @include small-tablet {
        --cell-size: 3.3dvw;
        --hint-text: 2.4dvw;
        --cell-border-accent: 0.4dvw;
      }

      @include mobile {
        --cell-size: 4.7dvw;
        --hint-text: 3.5dvw;
        --cell-border-accent: 0.6dvw;
      }
    }

    @include small-tablet {
      width: max-content;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--small-offset);

    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }
  }
}

.left-hints {
  grid-column: 1;
  grid-row: 2;
  border: var(--cell-border-accent) solid var(--hints-border-dark);
  border-right: none;
  width: max-content;
  background-color: var(--hints-bg);

  &__row {
    display: flex;
    justify-content: end;

    &:nth-child(5n):not(:last-child) {
      border-bottom: var(--cell-border-accent) solid var(--hints-border-dark);
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--cell-border) solid var(--hints-border-light);
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: var(--hint-text);
    color: var(--hints-color);
    user-select: none;
  }
}

.playground {
  grid-row: 2;
  border: var(--cell-border-accent) solid var(--playground-border-dark);
  background-color: var(--playground-bg-light);

  &__row {
    display: flex;
    justify-content: space-between;

    &:nth-child(5n):not(:last-child) {
      border-bottom: var(--cell-border-accent) solid var(--playground-border-dark);

      .playground__cell {
        border-bottom: none;
      }
    }
  }

  &__cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--cell-border) solid var(--playground-border-light);
    width: var(--cell-size);
    height: var(--cell-size);
    cursor: pointer;

    &__cell:nth-child(5n+1) {
      border-left: none;
    }

    &:nth-child(5n):not(:last-child) {
      border-right: var(--cell-border-accent) solid var(--playground-border-dark);
      width: calc(var(--cell-size) + 0.13em);
    }

    &.painted {
      background-color: var(--playground-bg-dark);
    }

    &.crossed {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 0.2dvw;
        background-color: var(--playground-cell-crossed);
        transform: translate(0, 50%);
        rotate: 45deg;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 0.2dvw;
        background-color: var(--playground-cell-crossed);
        transform: translate(0, 50%);
        rotate: -45deg;
      }
    }
  }

  &.lock {
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
  }
}

.top-hints {
  display: flex;
  grid-column: 2;
  margin-left: 0;
  border: var(--cell-border-accent) solid var(--hints-border-dark);
  border-bottom: none;
  width: max-content;
  background-color: var(--hints-bg);

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: end;

    &:nth-child(5n):not(:last-child) {
      border-right: var(--cell-border-accent) solid var(--hints-border-dark);
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--cell-border) solid var(--hints-border-light);
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: var(--hint-text);
    color: var(--hints-color);
    user-select: none;
  }
}

.row-highlight,
.cell-highlight {
  background-color: var(--playground-highlight);
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 span;
  grid-row: 1;
  font-size: 2dvw;
  color: var(--hints-border-light);

  @include tablet {
    font-size: 3dvw;
  }

  @include mobile {
    font-size: 5dvw;
  }
}