.game {
  &__wrapper {
    display: grid;
    grid-template-columns: max-content auto;
    height: max-content;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.left-hints {
  grid-column: 1;
  grid-row: 2;
  border-top: 3px solid var(--hints-border-dark);
  border-right: 3px solid var(--hints-border-dark);
  border-left: 2px solid var(--hints-border-dark);
  width: max-content;
  background-color: var(--hints-bg);

  &__row {
    display: flex;
    justify-content: end;

    &:nth-child(5n) {
      border-bottom: 4px solid var(--hints-border-dark);

      .left-hints__cell {
        border-bottom: none;
      }
    }

    &:nth-child(5n+1) {
      .left-hints__cell {
        border-top: none;
      }
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--hints-border-light);
    width: var(--cell-width);
    height: var(--cell-height);
    color: var(--hints-color);
    user-select: none;
  }
}

.playground {
  grid-row: 2;
  border-top: 3px solid var(--playground-border-dark);
  border-right: none;
  border-left: 2px solid var(--playground-border-dark);
  width: max-content;
  background-color: var(--playground-bg-light);

  &__row {
    display: flex;
    justify-content: end;

    &:nth-child(5n) {
      border-bottom: 4px solid var(--playground-border-dark);
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--playground-border-dark);
    width: var(--cell-width);
    height: var(--cell-height);
    cursor: pointer;

    &__cell:nth-child(5n+1) {
      border-left: none;
    }

    &:nth-child(5n) {
      border-right: 4px solid var(--playground-border-dark);
      width: 24px;
    }

    &.painted {
      background-color: var(--playground-bg-dark);
    }
  }
}

.top-hints {
  display: flex;
  grid-column: 2;
  margin-left: -3px;
  border-top: 3px solid var(--hints-border-dark);
  border-left: 5px solid var(--hints-border-dark);
  width: max-content;
  background-color: var(--hints-bg);

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: end;

    &:nth-child(5n) {
      border-right: 4px solid var(--hints-border-dark);

      .top-hints__cell {
        border-right: none;
      }
    }

    &:nth-child(5n+1) {
      .top-hints__cell {
        border-left: none;
      }
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--hints-border-light);
    width: var(--cell-width);
    height: var(--cell-height);
    color: var(--hints-color);
    user-select: none;
  }
}

.row-highlight,
.cell-highlight {
  background-color: var(--playground-highlight);
}

.settings {
  display: flex;
  gap: var(--small-offset);
}

.sizes,
.nonograms {
  position: relative;
  height: max-content;

  &__box {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 3px solid var(--settings-border);
    border-radius: var(--border-radius);
    padding: var(--little-offset) var(--little-offset);
    min-width: 160px;
    background-color: var(--settings-bg);
    transition: border-radius 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      right: 16px;
      top: 19px;
      width: 10px;
      height: 2px;
      background-color: var(--settings-text);
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      right: var(--little-offset);
      top: 19px;
      width: 10px;
      height: 2px;
      background-color: var(--settings-text);
      transform: rotate(135deg);
      transition: transform 0.3s ease-in-out;
    }

    &.active {
      border-radius: var(--border-radius) var(--border-radius) 0 0;

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(-135deg);
      }
    }
  }

  &__title {
    margin-right: var(--small-offset);
    font-size: 18px;
    color: var(--settings-text);
  }

  &__subtitle {
    color: var(--settings-text-accent);
  }

  &__list {
    position: absolute;
    left: 0;
    top: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--settings-border);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    width: 100%;
    background-color: var(--settings-bg);
    transform: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

    &-item {
      width: 100%;

      &:last-child {
        .sizes__list-btn {
          border-radius: 0 0 var(--border-radius) var(--border-radius);
        }
      }
    }

    &-btn {
      padding: var(--little-offset) 0;
      width: 100%;
      font-size: 16px;
      color: var(--settings-text);
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:disabled {
        color: var(--settings-text-accent);
        background-color: var(--settings-btn-disabled);
        pointer-events: none;
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--settings-btn-hover);
        }
      }
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20%);
    }
  }
}