.message {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, max-content);
  border-radius: var(--border-radius);
  padding: calc(var(--little-offset) / 4);
  background-color: var(--steam-green-400);

  &:first-of-type {
    margin-top: auto;
  }

  &:not(:last-child) {
    margin-bottom: var(--little-offset);
  }
}

.text {
  grid-column: 1 span;
  grid-row: 2;
  margin: calc(var(--little-offset) / 3) 0 calc(var(--little-offset) / 4);
  max-width: 25dvw;
  font: var(--small-font);
  word-break: break-all;
  color: var(--noble-black-800);
}

.login {
  grid-column: 2 span;
  grid-row: 1;
  font: var(--little-font);
  text-align: right;
  text-decoration: underline;
  color: var(--noble-black-800);
}

.status,
.date {
  grid-column: 2;
  grid-row: 3;
  font: var(--little-font);
  text-align: right;
}

.date {
  grid-column: 1;
}

.currentUser {
  position: relative;
  align-self: end;
  border-radius: var(--border-radius) var(--border-radius) 0;
  background-color: var(--steam-green-400);

  &::before {
    content: '';
    position: absolute;
    right: -23px;
    bottom: 0;
    display: block;
    width: 24px;
    height: 30px;
    background: radial-gradient(
        60px at top right,
        transparent 49%,
        var(--steam-green-400) 51%
      )
      no-repeat left bottom;
  }

  .date,
  .status {
    color: var(--steam-green-800);
  }

  .date {
    margin-right: 5px;
  }
}

.otherUser {
  position: relative;
  align-self: start;
  border-radius: var(--border-radius) var(--border-radius) var(--border-radius)
    0;
  background-color: var(--white);

  &::before {
    content: '';
    position: absolute;
    left: -23px;
    bottom: 0;
    display: block;
    width: 24px;
    height: 30px;
    background: radial-gradient(
        60px at top left,
        transparent 49%,
        var(--white) 51%
      )
      no-repeat right bottom;
  }

  .date {
    grid-column: 2;
  }
}
