:root {
  // offsets
  --little-offset: 20px;
  --small-offset: 30px;
  --medium-offset: 50px;
  --large-offset: 100px;

  // sizes
  --border-radius: 10px;

  // colors
  --white: #fff;
  --black: #000;
  --noble-black-300: #9b9c9e;
  --noble-black-500: #363a3d;
  --noble-black-600: #1a1d21;
  --noble-black-700: #131619;
  --noble-black-800: #0d0f10;
  --day-blue-900: #0c1132;
  --red-power-600: #d0302f;
  --steam-green-400: #c8f4b4;
  --steam-green-500: #b6f09c;
  --steam-green-700: #92ea6a;

  // fonts
  --small-font: 400 14px 'Roboto', sans-serif;
  --medium-font: 400 20px 'Roboto', sans-serif;
  --second-font: 600 25px 'Roboto', sans-serif;
  --big-font: 700 35px 'Roboto', sans-serif;
  --large-font: 700 45px 'Roboto', sans-serif;
}
