.playground {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  gap: 2dvw;
}

.translate_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 span;
  grid-row: 1;
  gap: 1dvw;
}

.translate_sentence {
  display: flex;
  justify-content: center;
  font-size: 1.2dvw;
  letter-spacing: 0.1dvw;
  transition: opacity 0.3s ease-in-out;
  gap: 0.8dvw;

  &_hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.translate_btn {
  border: 2px solid #403b40;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  transition:
    border 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  &_active {
    border: 2px solid #81df62;
    background-color: #f1daadb3;
    animation: zoom 1s ease-in-out infinite;
  }

  @media (hover: hover) {
    &:hover {
      border: 0.2dvw solid #ccdfbe;
      transform: scale(1.05);
    }
  }

  /* stylelint-disable-next-line order/order */
  &:active {
    border: 0.2dvw solid #ccdfbe;
    transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.translate_word {
  color: #153048;

  &.open {
    color: #29b946;
  }
}

.source_data,
.game_board {
  display: flex;
  grid-column: 2 span;
  border: 2px solid #403b40;
  border-radius: 10px;
  padding: 0.5dvw 1dvw;
  gap: 1dvw;
}

.source_data {
  grid-row: 3;
  height: 5dvw;
  transition: background-color 0.2s ease-in-out;
}

.game_board {
  display: grid;
  grid-row: 2;
  grid-template-rows: repeat(10, 40px);
  margin-bottom: 20px;
  transition: opacity 0.3s ease-in-out;
  gap: 10px;

  &.game_board__complete {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.line {
  display: flex;
  transition: background-color 0.2s ease-in-out;
  gap: 1dvw;

  &:not(:last-child) {
    border-bottom: 2px solid #ada9ad;
  }

  .copy_puzzle__error {
    outline: 2px solid #f00;
  }

  .copy_puzzle__success {
    outline: 2px solid #0f0;
  }
}

.line_hovered {
  background-color: #403b4023;
}

.no_drop {
  pointer-events: none;
}

.continue_btn,
.check_btn,
.autocomplete_btn,
.nextRound_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4;
  margin: 0 auto;
  border: 2px solid #403b40;
  border-radius: 10px;
  padding: 0.5dvw 1dvw;
  width: 12dvw;
  height: 3dvw;
  font-size: 1.2dvw;
  color: #000;
  background-color: #9e3d9e;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  @media (hover: hover) {
    &:hover {
      color: #ada9ad;
      background-color: #bb64bb;
    }
  }
}

.btn__hidden {
  display: none;
}

.translate_listen_hidden {
  opacity: 0;
  pointer-events: none;
}

.game_board_title {
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
}

.game_board_description {
  font-style: italic;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}
