.puzzle {
  position: relative;
  display: flex;
  align-items: center;
  outline: 2px solid #807080;
  border-radius: 10px;
  width: max-content;
  background-color: #f5deb3;
  transition:
    background-color 0.2s ease-in-out,
    transform 0.5s ease-in-out;
  cursor: pointer;

  &_placeholder {
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      border-radius: 10px;
      background-color: #f5deb3;
      inset: 0;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: #c8bfaf;
    }
  }
}
