.emojiWrapper {
  position: absolute;
  right: -3px;
  top: calc(0% - 203px);
  border: 3px solid var(--noble-black-300);
  border-bottom: unset;
  border-radius: var(--border-radius);
  height: 200px;
  max-width: 200px;
  box-shadow: -7px 0 20px -7px var(--noble-black-300);
  background-color: #000000f0;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.contentWrapper {
  overflow-y: scroll;
  border-radius: var(--border-radius);
  height: 200px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--noble-black-500);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background-color: var(--steam-green-500);
    cursor: pointer;
  }
}

.categoryList {
  position: sticky;
  top: 0;
  display: flex;
  overflow-x: scroll;
  border-bottom: 1px solid var(--noble-black-300);
  border-radius: var(--border-radius);
  padding: calc(var(--little-offset) / 4);
  max-width: 194px;
  background-color: var(--noble-black-800);
  gap: calc(var(--little-offset) / 4);

  &::-webkit-scrollbar {
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    background: var(--noble-black-500);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background-color: var(--steam-green-500);
    cursor: pointer;
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: calc(var(--little-offset) / 4) calc(var(--little-offset) / 3);
  width: 22px;
  height: 22px;
  font-size: 20px;
  transition: background-color 0.3s;

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 10px 0 var(--noble-black-300);
      background-color: var(--noble-black-500);
    }
  }
}

.emojiList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: calc(var(--little-offset) / 4);
}

.sectionTitle {
  margin-bottom: calc(var(--little-offset) / 2);
  padding-left: calc(var(--little-offset) / 4);
  font: var(--little-font);
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--noble-black-300);
}

.emojiItem {
  width: 25px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
