@import "../../../scss/breakpoints";

.settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--small-offset);

  &__start-btn,
  &__reset-btn,
  &__save-btn,
  &__continue-btn {
    display: flex;
    align-items: center;
    align-self: end;
    justify-content: center;
    border: 0.3dvw solid var(--settings-border);
    border-radius: var(--border-radius);
    padding: var(--little-offset);
    width: 100%;
    height: max-content;
    font-size: 1.7dvw;
    color: var(--settings-text);
    background-color: var(--settings-bg);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;

    @media (hover: hover) {
      &:hover {
        color: var(--settings-text-accent);
        background-color: var(--settings-bg-accent);
        transform: scale(1.1);
      }
    }

    /* stylelint-disable-next-line order/order */
    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  @include small-tablet {
    width: 100%;
  }
}

.sizes,
.nonograms {
  position: relative;
  grid-column: 1 span;
  height: max-content;

  &__box {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    border: 0.3dvw solid var(--settings-border);
    border-radius: var(--border-radius);
    padding: var(--little-offset);
    background-color: var(--settings-bg);
    transition:
      border-radius 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      right: 1.8dvw;
      top: 1.8dvw;
      width: 1.4dvw;
      height: 0.2dvw;
      background-color: var(--settings-text);
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      right: 1dvw;
      top: 1.8dvw;
      width: 1.4dvw;
      height: 0.2dvw;
      background-color: var(--settings-text);
      transform: rotate(135deg);
      transition: transform 0.3s ease-in-out;
    }

    &.active {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      background-color: var(--settings-bg-lock);

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(-135deg);
      }
    }

    @include mobile {
      border: 0.6dvw solid var(--settings-border);
      border-radius: 2dvw;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--settings-btn-hover);
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.7dvw;
    color: var(--settings-text);
    gap: 0.7dvw;

    @include mobile {
      font-size: 4dvw;
      gap: 2dvw;
    }
  }

  &__subtitle {
    overflow: hidden;
    max-width: 8dvw;
    font-size: 1.5dvw;
    text-overflow: ellipsis;
    color: var(--settings-text-accent);
    text-wrap: nowrap;

    @include mobile {
      max-width: 15dvw;
      font-size: 3.2dvw;
    }
  }

  &__list {
    position: absolute;
    left: 0;
    top: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.3dvw solid var(--settings-border);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    width: 100%;
    background-color: var(--settings-bg);
    transform: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    user-select: none;

    &-item {
      width: 100%;

      &:last-child {
        .sizes__list-btn {
          border-radius: 0 0 var(--border-radius) var(--border-radius);
        }
      }
    }

    &-btn {
      padding: var(--little-offset) 0;
      width: 100%;
      font-size: 1.8dvw;
      color: var(--settings-text);
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:disabled {
        color: var(--settings-text-accent);
        background-color: var(--settings-btn-disabled);
        pointer-events: none;
      }

      @include mobile {
        padding: 2.5dvw 0;
        font-size: 3.2dvw;
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--settings-btn-hover);
        }
      }
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20%);
    }

    @include mobile {
      border-radius: 2dvw;
    }
  }
}