.form {
  display: flex;
  margin-bottom: var(--small-offset);
  border-radius: var(--border-radius);
  padding: calc(var(--small-offset) / 2);
  width: 100%;
  max-width: max-content;
  background-color: var(--form-bg);
  gap: calc(var(--small-offset) / 2);

  input {
    outline: 2px solid var(--white);
    border-radius: var(--border-radius);
    font: var(--small-font);
    letter-spacing: 1px;
    color: var(--form-input-color);
    background-color: var(--form-input-bg);
    transition:
      outline-offset 0.3s,
      background-color 0.3s;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        outline-offset: 3px;
        background-color: var(--form-input-bg-hover);
      }
    }
  }

  &_submit-button {
    border-radius: 4px;
    padding: calc(var(--small-offset) / 6) calc(var(--small-offset) / 4);
    height: max-content;
    color: var(--engine-button-color);
    background-color: var(--engine-button-bg);
    transition:
      color 0.3s,
      background-color 0.3s,
      opacity 0.3s;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--engine-button-color-hover);
        background-color: var(--engine-button-bg-hover);
      }
    }
  }
}
