@import "../../../scss/breakpoints";

.game {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: var(--small-offset);

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__field {
    display: grid;
    height: max-content;
    max-width: max-content;

    &.small {
      --cell-size: 50px;
      --cell-text: 25px;

      .timer {
        font-size: 25px;
      }
    }

    &.medium {
      --cell-size: 30px;
      --cell-text: 20px;
    }

    &.large {
      --cell-size: 25px;
      --cell-text: 16px;

      .timer {
        font-size: 25px;
      }
    }

    @include mobile {
      &.large {
        --cell-size: 20px;
        --cell-text: 16px;

        .timer {
          font-size: 25px;
        }
      }
    }
  }
}

.playground {
  grid-column: 2;
  grid-row: 2;
  border: 2px solid var(--playground-border);
  background-color: var(--playground-bg);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &__row {
    display: flex;
    justify-content: space-between;
    transition: border-bottom 0.3s ease-in-out;

    &:not(:last-child) {
      .cell {
        border-bottom: 1px solid var(--playground-cell-border);
      }
    }

    &:nth-child(5n):not(:last-child) {
      .cell {
        border-bottom: 2px solid var(--hints-border);
      }
    }

    &.highlight {
      background-color: var(--playground-cell-highlight);
    }
  }
}

.left-hints,
.top-hints {
  border: 2px solid var(--hints-border);
  background-color: var(--hints-bg);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: var(--cell-text);
    color: var(--hints-color);
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}

.left-hints {
  grid-column: 1;
  grid-row: 2;
  border-right: none;

  &__row {
    display: flex;
    justify-content: end;
    transition: border-bottom 0.3s ease-in-out;

    &:not(:last-child) {
      border-bottom: 1px solid var(--hints-cell-border);
    }

    &:nth-child(5n):not(:last-child) {
      border-bottom: 2px solid var(--hints-border);
    }
  }
}

.top-hints {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  border-bottom: none;

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: end;

    &:not(:last-child) {
      border-right: 1px solid var(--hints-cell-border);
    }

    &:nth-child(5n):not(:last-child) {
      border-right: 2px solid var(--hints-border);
    }
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-right: var(--small-offset);
  font-size: 20px;
  color: var(--timer-text);
}