@import "../../../scss/mixins/breakpoint";

.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    padding: 20px 40px;

    @include tablet {
      margin-bottom: 0;
      padding: 10px 20px;
    }
  }
}
