.menu__card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-light);
  border-radius: 40px;
  width: 100%;
  min-height: 507px;
  max-width: 310px;
  cursor: pointer;

  &-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 40px;
    min-height: 310px;

    img {
      width: 100%;
      transform: scale(1.1);
      transition: transform 0.3s ease-out;

      @include mobile {
        width: 100%;
        transform: scale(1.1);
      }
    }
  }

  &-bottom {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
  }

  &-title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: var(--text-dark);
  }

  &-descr {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-dark);
  }

  &-price {
    margin-top: auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: var(--text-dark);
  }

  @media (hover: hover) {
    &:hover {
      .menu__card-top img {
        transform: scale(1.04);
      }
    }
  }
}
