* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  min-width: 320px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.stop-scroll {
  overflow: hidden;
}