@import "./breakpoints";

:root {
  // offsets
  --little-offset: 5px;
  --small-offset: 10px;
  --medium-offset: 30px;
  --large-offset: 100px;

  // size
  --cell-size: 20px;
  --modal-close-btn-size: 20px;
  --border-radius: 10px;
  --cell-text: 15px;

  // light colors
  body.light {
    --body-bg: #b2b5e1;
    --header-title-color: #3f2a7e;
    --burger-line-color: #fff;
    --burger-bg: #aa9cd2bd;
    --settings-sounds-color: #3b3180;
    --settings-app-btn-bg: #7655d2;
    --settings-app-btn-bg-hover: #8669d6;
    --settings-app-btn-bg-active: #6a43d6;
    --settings-app-btn-color: #fff;
    --settings-game-border: #8c74c3;
    --settings-game-bg: #7650cf;
    --settings-game-text: #fff;
    --settings-game-text-accent: #ffe38f;
    --settings-game-btn-disabled: #341b55;
    --settings-game-btn-hover: #9669d0;
    --timer-text: #2d1668;
    --playground-cell-border: #ababab;
    --playground-cell-highlight: #c2c2c2a5;
    --playground-border: #353535;
    --playground-bg: #fff;
    --hints-cell-border: #6d6d6d;
    --hints-border: #353535;
    --hints-bg: #aaa;
    --hints-color: #000;
    --cell-field: #000;
    --cell-crossed: #f00;
    --modal-overlay: #aaaaaa90;
    --modal-content-bg: #864fcd;
    --modal-close-btn-color: #e8ddf5;
    --modal-title-color: #eec5ff;
    --modal-title-color--accent: #341962;
    --modal-winners-color--accent: #fff;
    --modal-winners-color--item: #fff8dc;
  }

  // dark colors
  body.dark {
    --body-bg: #1c1c1c;
    --header-title-color: #be6600;
    --burger-line-color: #be6600;
    --burger-bg: #363636bd;
    --settings-sounds-color: #b3b3b3;
    --settings-app-btn-bg: #c47809;
    --settings-app-btn-bg-hover: #e2a425;
    --settings-app-btn-bg-active: #926a0d;
    --settings-app-btn-color: #e2e2e2;
    --settings-game-border: #d9b45b;
    --settings-game-bg: #be6200;
    --settings-game-text: #000;
    --settings-game-text-accent: #fff;
    --settings-game-btn-disabled: #4c2a03;
    --settings-game-btn-hover: #cb7f21;
    --timer-text: #e79036;
    --playground-cell-border: #000;
    --playground-cell-highlight: #5a5a5aa5;
    --playground-border: #fff;
    --playground-bg: #777;
    --hints-cell-border: #fff;
    --hints-border: #fff;
    --hints-bg: #3d3d3d;
    --hints-color: #fff;
    --cell-field: #cdb088;
    --cell-crossed: #f00;
    --modal-overlay: #23232390;
    --modal-content-bg: #685a52;
    --modal-close-btn-color: #e6a016;
    --modal-title-color: #f4d096;
    --modal-title-color--accent: #b38100;
    --modal-winners-color--accent: #ffca8f;
    --modal-winners-color--item: #f7ad00;
  }
}