@import "./breakpoints";

:root {
  // offsets
  --small-offset: 10px;
  --medium-offset: 30px;
  --large-offset: 60px;

  // size
  --cell-size: 20px;
  --modal-close-btn-size: 20px;
  --border-radius: 10px;

  // light colors
  body.light {
    --playground-cell-border: #ababab;
    --playground-cell-highlight: #c2c2c2a5;
    --playground-border: #353535;
    --playground-bg: #fff;
    --hints-cell-border: #6d6d6d;
    --hints-border: #353535;
    --hints-bg: #aaa;
    --cell-field: #000;
    --cell-crossed: #f00;
    --modal-overlay: #aaaaaa90;
    --modal-content-bg: #303048;
    --modal-close-btn-color: #b0bde4;
    --modal-title-color: #cda3df;
    --modal-title-color--accent: #8a22b6;
  }

  // dark colors
  body.dark {
    --body-dark: #1d1d1d;
    --hints-bg: #34415a;
    --hints-color: #f2d4d4;
    --hints-border-dark: #fff;
    --hints-border-light: #a2b5c6;
    --playground-bg-light: #030303;
    --playground-bg-dark: #6731ab;
    --playground-border-dark: #8a8a8a;
    --playground-border-light: #b8baba;
    --playground-highlight: #313138;
    --playground-cell-crossed: #e92f2f;
    --end-game-modal-overlay: #101010cc;
    --end-game-modal-bg: #676767;
    --end-game-modal-text: #abd2a0;
    --end-game-modal-text-accent: #003804;
    --end-game-modal-close-btn-accent: #52980f;
    --settings-bg: #545365;
    --settings-bg-accent: #25357a;
    --settings-bg-lock: #473561;
    --settings-border: #bcbcbc;
    --settings-text: #cbcec2;
    --settings-text-accent: #fff;
    --settings-btn-disabled: #8e92d9;
    --settings-btn-hover: #846eb4;
  }
}