@import "../../../scss/breakpoints";

.header {
  margin-bottom: var(--section-offset);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--small-offset);
  }

  &__logo {
    width: 18dvw;

    @include small-tablet {
      width: 26dvw;
    }

    @include mobile {
      width: 35dvw;
    }
  }

  &__title {
    font-size: 3dvw;
    letter-spacing: 0.2dvw;
    color: #164703;

    @include small-tablet {
      font-size: 5dvw;
    }

    @include mobile {
      font-size: 6dvw;
    }
  }
}