.header {
  margin-bottom: var(--section-offset);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--small-offset);
  }

  &__logo {
    width: 180px;
    height: 40px;
  }
}