@import '../../../scss/breakpoints';

.header {
  &__container {
    display: flex;
    align-items: center;
    margin-bottom: var(--large-offset);
    padding: var(--small-offset);
  }

  &__title {
    margin-right: auto;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
    color: var(--header-title-color);
    transition: color 0.3s ease-in;
  }
}

.burger {
  position: relative;
  z-index: 10;
  display: none;
  margin: 10px;
  width: 35px;
  height: 30px;
  cursor: pointer;

  @include tablet {
    display: inline-block;
  }
}

.burger span {
  position: absolute;
  border-radius: 2px;
  background-color: var(--burger-line-color);
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger:not(.open):hover span:nth-child(1),
.burger:not(.open):hover span:nth-child(2),
.burger:not(.open):hover span:nth-child(3) {
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger:not(.open):hover span:nth-child(1) {
  top: -2px;
}

.burger:not(.open):hover span:nth-child(2) {
  top: 13px;
}

.burger:not(.open):hover span:nth-child(3) {
  bottom: -2px;
}

.burger > span:nth-child(1),
.burger > span:nth-child(2),
.burger > span:nth-child(3) {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
}

.burger > span:nth-child(1) {
  top: 0;
}

.burger > span:nth-child(2) {
  top: 13px;
}

.burger > span:nth-child(3) {
  bottom: 0;
}

.burger.open {
  transform: rotate(-90deg);
}

.burger.open span:nth-child(1),
.burger.open span:nth-child(2),
.burger.open span:nth-child(3) {
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger.open span:nth-child(1) {
  left: 3px;
  top: 12px;
  width: 30px;
  transform: rotate(90deg);
  transition-delay: 150ms;
}

.burger.open span:nth-child(2) {
  left: 2px;
  top: 20px;
  width: 20px;
  transform: rotate(45deg);
  transition-delay: 50ms;
}

.burger.open span:nth-child(3) {
  left: 14px;
  top: 20px;
  width: 20px;
  transform: rotate(-45deg);
  transition-delay: 100ms;
}
