@import "../../../scss/breakpoints";

.header {
  margin-bottom: var(--section-offset);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--small-offset);
  }

  &__logo {
    width: 18dvw;

    @include small-tablet {
      width: 26dvw;
    }

    @include mobile {
      width: 35dvw;
    }
  }

  &__title {
    font-size: 3dvw;
    letter-spacing: 0.2dvw;
    color: #164703;

    @include small-tablet {
      font-size: 5dvw;
    }

    @include mobile {
      font-size: 6dvw;
    }
  }

  &__switch-btn {
    display: flex;
    align-items: center;
    align-self: end;
    justify-content: center;
    border: 0.3dvw solid var(--settings-border);
    border-radius: var(--border-radius);
    padding: var(--little-offset) var(--small-offset);
    width: max-content;
    height: max-content;
    font-size: 1.7dvw;
    color: var(--settings-text);
    background-color: var(--settings-bg);
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out,
      color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;

    @media (hover: hover) {
      &:hover {
        color: var(--settings-text-accent);
        background-color: var(--settings-bg-accent);
        transform: scale(1.1);
      }
    }

    /* stylelint-disable-next-line order/order */
    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}