.garage-page {
  padding: 0 var(--small-offset);
  opacity: 1;
  transition: opacity 0.5s;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &--hidden {
    opacity: 0;
  }

  &_title,
  &_info {
    margin-bottom: calc(var(--small-offset) / 2);
    font: var(--second-font);
    letter-spacing: 1px;
    color: var(--garage-title-color);
  }
}
