/* stylelint-disable order/order */
.garage-page {
  display: block;
  padding: 0 var(--small-offset);

  &_top-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, max-content);
    margin-bottom: var(--small-offset);

    @media (max-width: (1000px)) {
      align-items: center;
      grid-template-columns: repeat(2, max-content);
    }
  }

  &_bottom-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: calc(var(--small-offset) / 2);
  }

  &_race-result {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    border-radius: var(--border-radius);
    padding: calc(var(--small-offset) / 2) var(--small-offset);
    font: var(--second-font);
    letter-spacing: 1px;
    color: var(--car-button-color);
    background-color: var(--car-button-bg);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;

    &_show {
      opacity: 1;
    }
  }

  &_list {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 4 span;
    grid-row: 3;
    min-height: 737px;
    gap: 20px;
  }

  &_title {
    position: relative;
    grid-column: 1 span;
    grid-row: 1;
    width: 100%;
    min-height: 28px;
    font: var(--second-font);
    letter-spacing: 1px;
    color: var(--title-color);
  }

  &--hidden {
    display: none;
  }

  &_more-button,
  &_race-button {
    grid-row: 2;
    margin: 0 auto;
    margin-top: calc(var(--small-offset) / 2);
    border-radius: 4px;
    padding: calc(var(--small-offset) / 4) calc(var(--small-offset) / 2);
    width: max-content;
    height: max-content;
    color: var(--car-button-color);
    background-color: var(--car-button-bg);
    transition:
      color 0.3s,
      background-color 0.3s,
      opacity 0.3s;

    &_start {
      @media (max-width: (1000px)) {
        grid-row: 4;
      }
    }

    &_reset {
      @media (max-width: (1000px)) {
        grid-row: 5;
      }
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--car-button-color-hover);
        background-color: var(--car-button-bg-hover);
      }
    }
  }

  &_more-button {
    @media (max-width: (1000px)) {
      grid-row: 6;
    }
  }
}
